@{
    ViewBag.Title = "res";
    Layout = "~/Views/shared/_Layout.cshtml";
    
}
<div class ="row">
    <div class="col-lg-1">

    </div>
    <div class ="col-lg-10">
    <h2>Points Table</h2>

    <table class="table table-striped">   
        <tr style="font-weight:bold">
            <td>Sr#</td>
            <td>Team</td>
            <td>Win</td>
            <td>Lose</td>
            <td>Tied</td>
            <td>Points</td>
        </tr>
        <tr>
            <td>hgjhg</td>
            <td>hgjhg</td>
            <td>hgjhg</td>
            <td>hgjhg</td>
            <td>hgjhg</td>
            <td>Vanue</td>
        </tr>
        <tr>
            <td>Vanue</td>
            <td>hgjhg</td>
            <td>hgjhg</td>
            <td>hgjhg</td>
            <td>hgjhg</td>
            <td>hgjhg</td>
        </tr>
        <tr>
            <td>Vanue</td>
            <td>hgjhg</td>
            <td>hgjhg</td>
            <td>hgjhg</td>
            <td>hgjhg</td>
            <td>hgjhg</td>
        </tr>
        <tr>
            <td>Vanue</td>
            <td>hgjhg</td>
            <td>hgjhg</td>
            <td>hgjhg</td>
            <td>hgjhg</td>
            <td>hgjhg</td>
        </tr>
        <tr>
            <td>Vanue</td>
            <td>hgjhg</td>
            <td>hgjhg</td>
            <td>hgjhg</td>
            <td>hgjhg</td>
            <td>hgjhg</td>
        </tr>
        <tr>
            <td>Vanue</td>
            <td>hgjhg</td>
            <td>hgjhg</td>
            <td>hgjhg</td>
            <td>hgjhg</td>
            <td>hgjhg</td>
        </tr>
        <tr>
            <td>Vanue</td>
            <td>hgjhg</td>
            <td>hgjhg</td>
            <td>hgjhg</td>
            <td>hgjhg</td>
            <td>hgjhg</td>
        </tr>
        <tr>
            <td>Vanue</td>
            <td>hgjhg</td>
            <td>hgjhg</td>
            <td>hgjhg</td>
            <td>hgjhg</td>
            <td>hgjhg</td>
        </tr>
        <tr>
            <td>Vanue</td>
            <td>hgjhg</td>
            <td>hgjhg</td>
            <td>hgjhg</td>
            <td>hgjhg</td>
            <td>hgjhg</td>
        </tr>




    </table>
        </div>
    <div class="col-lg-1">

    </div>
</div>
