@model Cricket.Models.CricketModel

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Home | Corlate</title>
	
	<!-- core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/font-awesome.min.css" rel="stylesheet">
    <link href="../css/animate.min.css" rel="stylesheet">
    <link href="../css/prettyPhoto.css" rel="stylesheet">
    <link href="../css/main.css" rel="stylesheet">
    <link href="../css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="../images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->


<body class="homepage">
    <header id="header">
        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">
            
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <h1 style = "margin-bottom: 8vw ; font-family:'Arial Rounded MT'"><a class="navbar-brand" href="/home/index">Catch Your Match</a></h1>
                </div>
				
                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/signIn/sIn">Sign In</a></li>
                        <li><a href="/signUp/sUp">SignUp</a></li>                        
                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->
		
    </header><!--/header-->
        <div class="wrapper" >
        <form class="form-signin"  method="post" action="/signIn/validate">       
          <h2 class="form-signin-heading">Please login</h2>
            @Html.TextBoxFor(u=>u.us.email  , new { placeholder = "email" , @class="form-control"})
         @* <input type="text" class="form-control" name="u.email" placeholder="Email Address" required="" autofocus="" />*@
         @* <input type="password" class="form-control" name="u.password" placeholder="Password" required=""/>*@
            @Html.TextBoxFor(u=>u.us.password  , new {Type="password", placeholder = "password" , @class="form-control"})      
          <label class="checkbox">
            <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
          </label>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>   
            </form>
        </div>
    <footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <p> All Rights Reserved to BSEF12M026.<p>
                </div>
                <div class="col-sm-6">
                    <ul class="pull-right">
                        <li><a href='/signIn/sIn'>Sign In</a></li>
                        <li><a href="/signUp/sUp">SignUp</a></li>
                        <li><a href="/contactUs/contact">About Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <script src="../js/jquery.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/jquery.prettyPhoto.js"></script>
    <script src="../js/jquery.isotope.min.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/wow.min.js"></script>
    <link href="~/Content/signIn.css" rel="stylesheet" />
    </body>

    </html>